<h1>記事を作成</h1>

<% if @article.errors.any? %>
<h2>次にエラーにより、記事が作成できませんでした。</h2>
<ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

# Rails5では、非推奨なヘルパー
<% form_for @article do |f| %>
    <p>
        <% f.label :title %><br/>
        <% f.text_field :title %>
    </p>
    <p>
        <% f.label :description %><br/>
        <% f.text_area :description %>
    </p>
    <p>
        <% f.submit %>
    </p>
<% end %>